* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}

body {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10%;
  padding: 0 35px;
  font-size: 120px;
  color: #328e8a;
  cursor: pointer;
}

#arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  /* transform: translateX(50%); */
}

#left-arrow {
  margin-left: 100px;
  /* position: absolute;
  top: 50%;
  transform: translate(90%, -50%);
  cursor: pointer;
  left: 0; */
}

#right-arrow {
  margin-right: 100px;
  /* position: absolute;
  top: 50%;
  transform: translate(-90%, -50%);
  cursor: pointer;
  right: 0; */
}